*
!*/
!/Space-Age-Hardcore-Mode/**
!/Rocs-Hardcore-Cargo-Drops/**
!/Rocs-Hardcore-Delayed-Tech-Tree/**
!/Rocs-Hardcore-Demolishers/**
!/Rocs-Hardcore-Fulgora/**
!/Rocs-Hardcore-Gleba/**
!/Rocs-Hardcore-Aquilo/**
!/Rocs-Hardcore-Space-Tweaks/**
!/Rocs-Improved-Platform-Drag/**
!/Planetary-Distance-Adjustments/**
!/Expensive-Mode/**
!/Better-Melting-Ice/**
!/Planet-Hopper/**
!/Tiered-Solar-System/**
!/No-Space-Platforms/**
/Cerys-Moon-of-Fulgora/
/PlanetsLib/
/Flare Stack/
/solarsystemplusplus/
!.gitignore
!.luacheckrc
!.prettierrc
!.styluaignore
!.vscode/
!.vscode/**