*
!*/
!/Space-Age-Hardcore-Mode/**
!/Rocs-Hardcore-Cargo-Drops/**
!/Rocs-Hardcore-Delayed-Tech-Tree/**
!/Rocs-Hardcore-Demolishers/**
!/Rocs-Hardcore-Fulgora/**
!/Rocs-Hardcore-Gleba/**
!/Rocs-Hardcore-Aquilo/**
!/Rocs-Hardcore-Space-Tweaks/**
!/Rocs-Improved-Platform-Drag/**
!/Planetary-Distance-Adjustments/**
!/Expensive-Mode/**
!/Better-Melting-Ice/**
!/Planet-Hopper/**
!/Tiered-Solar-System/**
!/Space-Age-Without-Platforms/**
/Cerys-Moon-of-Fulgora/
/PlanetsLib/
/Flare Stack/
/solarsystemplusplus/
!.gitignore
!.luacheckrc
!.prettierrc
!.styluaignore
!.vscode/
!.vscode/**
dea-dia-system/
planet-ithurice/
planet-nekohaven/
planet-quadromire/
planet-tapatrion/
planet-tchekor/
planet-vicrox/
planet-zzhora/
Redrawn-Space-Connections/
Space-Age-Revamp/
Space-Age-Without-Platforms/
SpaceAgeWithoutSpace_0.0.16/
Useful-Methane/
